<div class="holder">
	<figure class="hold-img">
		<img [src]="placeImg" alt="">
	</figure>
	<div class="tabs">
		<ul class="tab-list">
			<li *ngFor="let tab of tabs" (click)="searchBy(tab)">{{tab}}</li>
		</ul>
	</div>
	<div class="holder-list-plases">
		<h5>Righteous indignation & like</h5>
		<ul class="place-list">
			<li *ngFor="let place of places | trackBy:searchTerm" (click)="showPlace(place)">
				<strong class="title">{{place.title}}</strong>
				<div class="place-box">
					<figure class="hold-img">
						<img src="{{place.img}}" alt="">
					</figure>
					<span class="text">{{place.description}}</span>
					<span class="text">Hotels: <b>{{place.hotels}}</b></span>
					<span class="text">Clubs: <b>{{place.clubs}}</b></span>
				</div>
			</li>
		</ul>
	</div>
</div>
